<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Activities Repo | New Category</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>

    <header th:insert="fragments/header :: main-header">
    </header>

    <main role="main">
        <div class="container">
            <div class="card">
                <h2 class="card-header"> New category </h2>
                <div class="card-body">
                    <form th:action="@{/categories/save}" method="post">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="name">Category</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="" required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="description">Description</label>
                                <textarea class="form-control" rows="10" id="description" name="description"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer th:insert="fragments/footer :: footer" class="footer">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>