<div th:fragment="main-header" class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #005cbf">
        <a class="navbar-brand" th:href="@{/activities/index}">Activies Repo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/activities/index}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/activities/create}"> New activity </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkCat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkCat">
                        <a class="dropdown-item" th:href="@{/categories/create}">Create a new category </a>
                        <a class="dropdown-item" th:href="@{/categories/index}">See the list</a>
                    </div>
                </li>
            </ul>
            <a class="btn btn-light" href="#">Login</a>&nbsp;
            <a class="btn btn-light" href="#">Sign up</a>
        </div>
    </nav>
</div>